// abstracts/_variables.scss
$color-header: #9933cc;
$color-menu-accent: #33b5e5;
$color-footer: #0099cc;
$color-bg-white: #ffffff;
$color-grid-default: #84c754;
$color-grid-alt: #f1f1f1;
$color-border-grid: #000000;
$color-border-grey: grey;

$grid-col-width: 8.333333%; // 100% / 12 cột
